body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	width: 100%;
}

/*HTML1*/
.primera{
	display: block;
	width: 50%;
	margin: 0 auto;
	padding: 100px;
}

.uno {
	background-color: yellow;
	margin:0;
	padding: 10px 0 40px 10px;
}

.dos {
	background-color: red;
	margin:0;
	padding: 10px 0 40px 10px;
	border: 1px solid;
}

.tres {
	background-color: yellow;
	text-transform: uppercase;
	margin:0;
	padding: 10px 0 40px 10px;
}

/*HTML2*/
.segunda {
	display: block;
	width: 17%;
	margin: 0 auto;
	padding: 100px;
}

.two {
	background-color: red;
	margin:20px 0;
	padding: 10px 0 40px 10px;
}

/*HTML3*/
.tercera {
	display: inline;
	text-align: center;
}

.a {
	background-color: yellow;
	display: inherit;
	padding: 10px;
}

.b {
	background-color: red;
	display: inherit;
	padding: 10px;
}

.c {
	background-color: yellow;
	display: inherit;
	text-transform: uppercase;
	padding: 10px;
}

/*HTML4*/
.cuarta {
	display: inline-block;
}

.d {
	background-color: yellow;
	display: inherit;
	margin:5px;
	width: 200px;
	padding: 10px 0 40px 10px;
}

.e {
	background-color: red;
	display: inherit;
	margin:5px;
	width: 200px;
	padding: 10px 0 40px 10px;
}

.f {
	background-color: yellow;
	display: inherit;
	text-transform: uppercase;
	margin:5px;
	width: 200px;
	padding: 10px 0 40px 10px;
}

/*HTML5*/
.ichi {
	width: 80px;
	height: 80px;
	background-color: lightgreen;
	border: 1px solid green;
}

.caja-ni{
	width: 266px;
	height: 82px;
	background-color: lightpink;
	padding: 10px;
}

.ni {
	width: 80px;
	height: 80px;
	background-color: lightgreen;
	border: 1px solid green;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.medio {
	margin: 0px 4px 0px 4px;
}

.san{
	width: 80px;
	height: 80px;
	background-color: lightgreen;
	border: 1px solid green;
	display: inline-block;
	margin: 10px 4px 10px 0;
	padding: 0px;
}

.yon {
	width: 80px;
	height: 80px;
	background-color: lightgreen;
	border: 1px solid green;
	margin: 0;
}

/*HTML principal*/
a {
	background-color: #7EC500;
	color: white;
	width: 100px;
	text-decoration: none;
	padding: 20px 40px;
	margin-top: 20px;
}

a:hover {
	background-color: #c5007e;
}